* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #e3e6e6;
}

.dark {
    background: #121212;
    color: white;
}

.navbar {
    background: #131921;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    color: #ff9900;
    font-size: 26px;
    font-weight: bold;
}

.navbar input {
    width: 40%;
    padding: 8px;
}

.nav-actions button {
    margin-left: 10px;
}

.products {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
}

.card button {
    margin-top: 8px;
    padding: 8px;
    background: #ffd814;
    border: none;
}

.cart-modal, .modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 15px;
    display: none;
    box-shadow: -2px 0 10px rgba(0,0,0,.3);
}